{{template "head.html"}}
    <link rel="stylesheet" href="/static/session.css">
    <title>Login - Temsys</title>
</head>
<body>
    <div id="container">
    <div id="item">
        <img src="/static/logo.png"/>
        <h1>Temsys</h1>
        <form action="/users/login" method="post">
            {{.csrfField}}
            <input class="temsys-input" type="text" placeholder="Name" name="name"/>
            <input class="temsys-input" type="password" placeholder="Password" name="password"/>
            <input class="temsys-input temsys-btn" type="submit" value="Send!"/>
            {{if .hasErrors}}
                <div class="temsys-input">
                    {{.data.Reason}}
                </div>
            {{end}}
        </form>
    </div>
    </div>
</body>
</html>