<div class="container">
  <div>
    <h1>Report Types</h1>
    <% @report_types.each do |r| %>
        <div class="list-group-item flex-column align-items-start">
            <%= r %>
        </div>
    <% end %>
    <div class="list-group-item flex-column align-items-start">
      <%= form_with url: '/dashboard/admin/report_types/create', method: 'post' do |f| %>
        <div class="form-group">
          <%= label_tag :new_report_type %>
          <%= f.text_field :new_report_type, class: "form-control" %>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Create</button>
      <% end %>
    </div>
  </div>
</div>