<!DOCTYPE html>
<html>
  <head>
    <title>Temsys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag  'application', media: 'all' %>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/login.css"/>
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
