<div id="container">
    <div id="item">
        <img src="/assets/logo.png"/>
        <h1>Temsys</h1>
        <div class="temsys-form" action="/users/login" method="post">
            <input class="temsys-input" type="text" placeholder="Name" name="name" [formControl]="username"/>
            <input class="temsys-input" type="password" placeholder="Password" name="password" [formControl]="password"/>
            <button class="temsys-input temsys-btn" (click)="onSend()">Send!</button>
            <div *ngIf="loginErr" class="temsys-input">
                {{loginErr}}
            </div>
        </div>
    </div>
</div>
