<div class="container">
  <div>
    <h1>Current system status</h1>
    <ul class="list-group">
      <% @models.each do |s| %>
      <li class="list-group-item flex-column align-items-start <% if s[:reports].any? %> list-group-item-success <% else %> list-group-item-danger <% end %>">
        <h4> <%= s[:name] %> </h4>
        <span> <%= s[:ip] %> </span>
        <% s[:reports].each do |r| %>
        <div>
          <span> <%= r["type"] %> </span>:
          <span>  <%= r["value"] %> </span>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

