.card {
    border-style: none;
    padding: 10px;
    height: 150px;
}

.card > aside {
    width: 100%;
}

.card > aside span {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.sensor-enabled {
    background-color: var(--fg-green-color);
}

.sensor-disabled {
    background-color: red;
}

.card > aside h1 {
    display: inline-block;
    width: 100px;
    margin: 0px 0px 0px 5px;
}

main {
    text-align: center;
}

main h1 {
    margin: 0px 0px 5px 0px;
    font-size: 40px;
}

main h2 {
    margin: 0px;
    font-size: 15px;
}