{{template "head.html"}}
    <link rel="stylesheet" href="/static/panel.css">
    <title>Panel - Temsys</title>
</head>
<body>
	<input type="checkbox" id="menu">
	<label for="menu" onclick></label>
	<div id="container">
		{{template "menu.html"}}
		<main>
			{{if not .hasErrors}}
				<h1>Sensors</h1>
				{{range .data.Sensors}}
				<div>
					Name: {{.Name}}
					ConnValue: {{.Connection.ConnValue}}
					ConnType: {{.Connection.ConnType}}
					Supported: {{.SupportedReports}}
				</div>
				{{end}}
				{{.data}}
    		{{else}}
    			<h1>No hay sensores</h1>
			{{end}}
		</main>
	</div>
</body>