<div class="container">
  <div>
    <h1>User management</h1>
    <div class="list-group-item flex-column align-items-start">
      <h3>Diego</h3>
      <form>
        <div class="form-group">
          <label for="password1">Password</label>
          <input type="password" class="form-control" id="password1">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>ADMIN</option>
            <option>ANALYST</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>