<div class="container">
  <div>
    <h1>Create user</h1>
    <div class="list-group-item flex-column align-items-start">
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group">
          <label for="role">Example select</label>
          <select class="form-control" id="role">
            <option>ADMIN</option>
            <option>ANALYST</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>