#container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
}

#container > main {
    padding: 30px 20px 10px 20px;
}

input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

input:checked ~ #container {
    grid-template-columns: 250px 100vw;
}

input:checked ~ #container > nav {
    display: block;
}
  
label {
    position: absolute;
    left: 10px;
    display: block;
    width: 3em;
    height: 3.25em;
    padding: .35em;
    font-size: 1.1em;
    color: var(--fg-semi-color);
    transition: color .3s ease-in-out;
    cursor: pointer;
    user-select: none;
    margin: 0;
}
  
label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 2.8em;
}

label:hover, input:checked ~ label {
    color: white;
}

nav {
display: none;
    text-align: center;
}

nav > img {
    width: 100px;
    padding: 20px;
}

nav > a {
    margin-bottom: 10px;
    width: 100%;
    display: block;
    --main-color: var(--fg-semi-color);
    --text-color: white;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--bg-alternative-color);
    border-radius: 3px;

    padding: 10px 20px 10px 20px;

    color: var(--text-color);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);

    transition: background-color .2s;
}

nav > a:hover {
    background-color: var(--main-color);
}

@media only screen and (min-width: 1028px) {
    #container {
        grid-template-columns: 250px 100vw;
    }

    #container > nav {
        display: block;
    }

    label {
        display: none;
    }
}